# NAME:Om Patel
# Submission: Problem Set 2
# Student Id: 200504246

# Question 1
Consider the following Python module:

In [3]:
a =0
def b():
    global a
    a=c(a)
    
    
def c(a):
    return a+2

b()
b()
b()
a

6

Q) What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In starting a is initializing as 0. After creating b() then we have global declared a as 0 which means in all the functions a will be considered as 0.

Then when we run our first function b() in which a=c(a) so then c function is called in which a+2 means 0+2 which in return gives 2 that means a values have become 2 now so due to this when we call b() the first time it will show 2.

When we call b() again as a value has changed from 0 to 2. so when we call b() again 2 will be added again with the variable a so the answer we get is 4.

Then again we call be b() so 2 will be added. As every time we call b() 2 will be added so in the third time it will show 6 as three-time b() have called.

So that is how we will get as our output at last.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [16]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("This File " + file_name + " is Not Found" )
file_length("C:\\Users\\My PC\\OneDrive\\Desktop\\ompatel.txt")
file_length("C:\\Users\\My PC\\OneDrive\\Desktop\\ompate.txt")

66
This File C:\Users\My PC\OneDrive\Desktop\ompate.txt is Not Found

# Question 3
Write a class named Marsupial that can be used as shown below:

In [70]:
class Marsupial:

    def __init__(self):
        self.lit = []

    def put_in_pouch(self, chara):
        self.lit.append(chara)

    def pouch_contents(self):
        print(self.lit)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [82]:
class kangaroo(Marsupial):
    
    def __init__(self,x=0,y=0):
        Marsupial.__init__(self)
        self.dx = x
        self.dy = y
        
    def jump(self,x,y):
        self.dx += x
        self.dy += y
        
    def __str__(self):
         return "I am kangaroo located at coordinates ({0},{1})".format(self.dx,self.dy)

In [83]:
k = kangaroo(0,0)
print(k)

I am kangaroo located at coordinates (0,0)

In [103]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print("")
k = kangaroo(0,0)
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']

I am kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

In [120]:
def collatz(x):
    
    if (x==1):
        return 1
    elif (x%2 == 0):
        print(x)
        x=x//2
        return collatz(x)
    else:
        print(x)
        x=3*x+2
        return collatz(x)
        
collatz(10)

10
5
16
8
4
2

1

In [117]:
collatz(1)

1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [162]:
def binary(n):
    if n<2:
        print (n,end='')
    else:
        binary(n//2)
        print (n%2,end='') 
         
binary(0)
print("")
binary(1)
print("")
binary(3)
print("")
binary(9)
print("")

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [161]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag = ''
    def handle_starttag(self, tag,attrs):
        self.tag = tag
        #print(tag)
    def handle_data(self, data):
        if self.tag in ['h1','h2','h3','h4','h5','h6']:
            n=int(self.tag[1])
            print(n*''+data, end ='')
infile = open('w3c.html')
content = infile.read()
infile.close()

parser = HeadingParser()
parser.feed(content)

W3C Mission
	Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [ ]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin
class Collect(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []
   
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.link.append(absolute)
def direc(url, depth, i=0):
        #depth = depth - 1
        print(i*'  ', url)
        content = urlopen(url).read().decode()
        collector = Collect(url)
        collector.feed(content)
        urls = collector.append()
        url_links = urls
        i= i + 4
        for link in url_links:
            if depth < 0 or i < 0:
                return 1
            else:
                webdir(link, depth, i)
                
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

# Question 8
Write SQL queries on the below database table that return:

In [13]:
import sqlite3
SQL=sqlite3.connect('SQLdatabase2.db')
SQLCU=SQL.cursor()

SQLCU.execute("Create table Seasontabl (city text, country text, season text, Temperature float, Rainfall float)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Mumbai','India', 'Winter', 24.8, 5.9)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Mumbai','India', 'Spring', 28.4, 16.2)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Mumbai','India', 'Summer', 27.9, 1549.4)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Mumbai','India', 'Fall', 27.6, 346.0)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('London','United Kingdom', 'Winter', 4.2, 207.7)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('London','United Kingdom', 'Spring', 8.3, 169.6)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('London','United Kingdom', 'Summer', 15.7, 157.0)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('London','United Kingdom', 'Fall', 10.4, 218.5)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Cairo','Egypt', 'Winter', 13.6, 16.5)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Cairo','Egypt', 'Spring', 20.7, 6.5)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Cairo','Egypt', 'Summer', 27.7, 0.1)")
SQLCU.execute("INSERT INTO Seasontabl VALUES ('Cairo','Egypt', 'Fall', 22.2, 4.5)")

In [105]:
SQLCU.execute ("SELECT * FROM Seasontabl")
for i in SQLCU:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

a) All the temperature data.

In [33]:
SQLCU.execute('SELECT Temperature FROM Seasontabl')
for i in result:
    print(i[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

b) All the cities, but without repetition

In [32]:
SQLCU.execute('SELECT Distinct city from Seasontabl')
for i in SQLCU:
    print(i[0])

Mumbai
London
Cairo

c) All the records for India.

In [68]:
SQLCU.execute( "SELECT * FROM Seasontabl where country = 'India'")
for i in SQLCU:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records

In [99]:
SQLCU.execute( "SELECT city,country,season,Temperature,Rainfall FROM Seasontabl where season = 'Fall'")
for i in SQLCU:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [37]:
SQLCU.execute("SELECT city,country,season,Rainfall FROM Seasontabl where Rainfall > 200 and Rainfall < 400")
for i in SQLCU:
    print(i)

('Mumbai', 'India', 'Fall', 346.0)
('London', 'United Kingdom', 'Winter', 207.7)
('London', 'United Kingdom', 'Fall', 218.5)

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [19]:
sql = "SELECT city,country,Temperature FROM Seasontabl where Temperature > 20 ORDER BY Temperature"
result = SQLCU.execute(sql)
for i in result:
    print(i)

('Cairo', 'Egypt', 20.7)
('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 24.8)
('Mumbai', 'India', 27.6)
('Cairo', 'Egypt', 27.7)
('Mumbai', 'India', 27.9)
('Mumbai', 'India', 28.4)

g) The total annual rainfall for Cairo.

In [27]:
sql = "SELECT SUM(Rainfall) FROM Seasontabl where city = 'Cairo'"
result = SQLCU.execute(sql)
for i in result :
    print(i[0])

27.6

h) The total rainfall for each season.

In [98]:
sql = "SELECT season,SUM(Rainfall) FROM Seasontabl GROUP BY season"
result = SQLCU.execute(sql)
for i in result :
    print(i)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9
. Suppose list words is defined as follows:
Write list comprehension expressions that use list words and generate the following
lists:

In [101]:
word = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
result = [item.upper() for item in word]
print(result)
print("")
results = [items.lower() for items in word]
print(results)
print("")
results = [len(item) for item in word]
print(results)
print("")
results=[[item.upper(),item.lower(),len(item)] for item in word]
print(results)
print("")
result=[item for item in word if len(item)>=4]
print(result)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']